# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
dist/
build/

# Virtual environments
spoc/
venv/
.venv/
env/

# logs
logs/

# Jupyter
.ipynb_checkpoints/

# results!!!
results/
wandb/


# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Experiment outputs
results/**/*.npy
results/**/*.pt
overleaf/**/*.npy
overleaf/**/*.pt
overleaf/**/*.csv
overleaf/**/*.json
overleaf/**/ntrain_*/
overleaf/**/**/ntrain_*/
overleaf/**/**/**/ntrain_*/
overleaf/**/**/**/**/ntrain_*/
overleaf/**/**/**/**/**/ntrain_*/
*.npy
*.pt

# Pytest
.pytest_cache/


# Temporary files
*.tmp
*.swp
*.bak